@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* base styles */
body {
  background: #121214;
  @apply text-primary;
}
h1 {
  @apply font-bold text-primary text-xl md:text-3xl;
}
h2,
h3 {
  @apply font-bold text-primary text-2xl;
}
main {
  @apply max-w-[1500px] mt-5 md:mt-8 mb-12 mx-auto px-8;
}
header {
  @apply max-w-[1500px] pt-8 md:pt-10 px-8 mx-auto;
}

header > div {
  @apply w-full flex gap-3 items-center border-b border-neutral-500/50 pb-4 md:pb-6;
}

/* button styles */
button {
  @apply px-5 py-2 rounded-md font-bold flex gap-2 items-center;
}
button:hover {
  @apply bg-opacity-80;
}
.btn-primary {
  @apply bg-secondary text-neutral-950;
}
/* .btn-secondary {
    @apply bg-gray-200 text-gray-900;
  } */

/* random styles */

.grid-container {
  @apply w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5;
}

.card {
  @apply w-full h-[350px] border-[15px] border-[#1f1e20] rounded-lg;
}

.card-overlay {
  @apply w-full h-full absolute top-0 left-0 bg-gradient-to-t from-[#1f1e20] via-transparent to-transparent;
}

.card-popup-overlay {
  @apply w-full h-[100px] bg-gradient-to-b from-[#1f1e20]/90 via-[#1f1e20]/50 to-transparent absolute top-0 left-0;
}

@layer utilities {
  .quickview {
    animation: quickview 0.6s ease;
  }
  @keyframes quickview {
    0% {
      transform: translateY(-50px);
      -webkit-transform: translateY(-50px); /* Safari and Chrome */
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      -webkit-transform: translateY(0px); /* Safari and Chrome */
      opacity: 1;
    }
  }

  .expand {
    animation: expand 0.6s ease-in-out;
  }

  @keyframes expand {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .blurry {
    backdrop-filter: blur(6px);
  }
}
